<app-navbar></app-navbar>

<div class="col-md-6 offset-md-3 mt-5">
  <h4>Register An Account</h4>

<div class="card">
  <h4 class="card-header">Register</h4>

  <div class="card-body">
    <form [formGroup]="RegisterForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" name="" class="form-control" formControlName="userName" [ngClass]="{'is-invalid':submitted && userForm.userName.errors}">
        <div *ngIf="submitted && userForm.userName.errors" class="invalid-feedback">
            <div *ngIf="userForm.userName.errors.required">
              Username is requiured.
            </div>
        </div>

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="" class="form-control" formControlName="password" [ngClass]="{'is-invalid':submitted && userForm.password.errors}">
        <div *ngIf="submitted && userForm.password.errors" class="invalid-feedback">
            <div *ngIf="userForm.password.errors.required">
              Password is requiured.
            </div>
        </div>

      </div>

      <div class="form-group">
        <label for="firstName">Firstname</label>
        <input type="text" name="" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':submitted && userForm.firstName.errors}">
        <div *ngIf="submitted && userForm.firstName.errors" class="invalid-feedback">
            <div *ngIf="userForm.firstName.errors.required">
              Firstname is requiured.
            </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Lastname</label>
        <input type="text" name="" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':submitted && userForm.lastName.errors}">
        <div *ngIf="submitted && userForm.lastName.errors" class="invalid-feedback">
            <div *ngIf="userForm.lastName.errors.required">
              Lastname is requiured.
            </div>
        </div>
      </div>


      <div class="form-group">
        <label for="emailAddress">Emailaddress</label>
        <input type="email" name="" class="form-control" formControlName="emailAddress" [ngClass]="{'is-invalid':submitted && userForm.emailAddress.errors}">
        <div *ngIf="submitted && userForm.emailAddress.errors" class="invalid-feedback">
            <div *ngIf="userForm.emailAddress.errors.required">
              Emailaddress is requiured.
            </div>
        </div>
      </div>

      
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number" name="" class="form-control" formControlName="phone" [ngClass]="{'is-invalid':submitted && userForm.phone.errors}">
        <div *ngIf="submitted && userForm.phone.errors" class="invalid-feedback">
            <div *ngIf="userForm.phone.errors.required">
              Phone is requiured.
            </div>
        </div>

      </div>
      <div *ngIf="registerError" style="color: red;">
        <div >
          <p>{{showErrorMessage}}</p>
        </div>
      </div>
      <button [disabled]="loading" type="submit" class="btn btn-primary">Register</button>
      <a routerLink="../login" class="btn btn-link">Cancel</a>
    </form>
  </div>

</div>
</div>
