<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      <div *ngIf="user">
        <a class="nav-item nav-link" style="color: red;">{{username}}</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" *ngIf="!userService.isAuthenticated()" (click)="loginUser()">Login</a>
      <a class="nav-item nav-link" *ngIf="!userService.isAuthenticated()" (click)="registerUser()">Register</a>
      <a class="nav-item nav-link" *ngIf="userService.isAuthenticated()" (click)="logoutUser()">Logout</a>
      <a class="nav-item nav-link" *ngIf="userService.isAuthenticated()" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="nav-item nav-link" *ngIf="userService.isAuthenticated() && userService.isAdmin()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-item nav-link" *ngIf="userService.isAuthenticated()">Cart : ${{shoppingCartService.getShoppingCartTotal()}}</a>
    </div>
  </nav>
</div>